html {
    scroll-behavior: smooth;
    background-color: #2b2b2b;
    font-size: 175%;
    margin-left: 5%;
}

h1{
    color: #FFBF00;
}

h2{
    color: #009AFF;
}

h3{
    color: #009AFF;
}

iframe{
    height: 675px;
    width: 90%;
    margin-left: 5%;
}