html {
    scroll-behavior: smooth;
    background-color: #2b2b2b;
    font-size: 175%;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    color: #FFBF00;
}

h2{
    color: #009AFF;
}

h3{
    color: #009AFF;
}

p {
    color: #d1a41d;
}

iframe{
    height: 675px;
    width: 90%;
    margin-left: 5%;
}

object{
	height: 675px;
    width: 90%;
    margin-left: 5%;
}

embed {
    height: 675px;
    width: 90%;
    margin-left: 5%;
}

.container{ 
    margin: auto;
    max-width: 800px;
}